# Homework 4 calculations

[Calculating P value from t statistic (Khan Accademy)](https://www.youtube.com/watch?v=z-HSsVARNnk)

[Khan Academpy: Statistics and Probability](https://www.khanacademy.org/math/statistics-probability)

## 11.2
For recent data in Jacksonville, Florida
- $y$ = selling price of home (in dollars)
- $x_{1}$ = size of home (in square feet)
- $x_{2}$ = lot size (in square feet)

the prediction equation is:

$$\hat{y} = -10,536 + 53.8x_{1} + 2.84x_{2}$$

In [65]:
alpha = -10536
beta1 = 53.8
beta2 = 2.84

def yhat(x1, x2):
    return -10536 + (53.8*x1) + (2.84*x2)

**(a)** *A particular home of 1240 square feet on a lot of 18,000 square feet sold for \$145,000. Find the predicted selling price and the residual, and interpret.*

In [66]:
x1 = 1240
x2 = 18000

In [67]:
yhat(x1, x2)

107296.0

In [68]:
145000 - 107296

37704

**(b)** *For fixed lot size, how much is the house selling price predicted to increase for each square-foot increase in home size? Why?*

In [47]:
x2 = 10000

In [48]:
yhat(1000, x2)

71664.0

In [49]:
yhat(1001, x2)

71717.79999999999

In [50]:
71717.80 - 71664.00

53.80000000000291

**(c)** *According to this prediction equation, for fixed home size, how much would lot size need to increase to have the same impact as a one square-foot increase in home size?*

In [51]:
x1 = 1000
x2 = 10000

In [53]:
yhat(x1,x2)

71664.0

In [54]:
yhat(x1,x2+1)

71666.84

In [55]:
round(71666.84-71664.0,2)

2.84

In [56]:
53.8/2.84

18.943661971830984

validate

In [61]:
# baseline
yhat(x1,x2)

71664.0

In [62]:
# increase home size by one
yhat(x1+1,x2)

71717.79999999999

In [64]:
# now increase lot size by 18.9
yhat(x1+1,x2+19)

71771.76

## 11.17

|            | Sum of<br>Squares | DF     | Mean<br>Square | F     | Sig   |
| ---------- | ----------------: | -----: | -------------: | ----: | ----: |
| Regression |  813.3            | 5      | ? | ? | ? |
| Residual   | 2940.0            | 60     | ? |   |   |
| Total      | 3753.3            | 65     |   |   |   |

In [69]:
def t(b, se):
    return b/se

In [70]:
values = [
    (0.1000, 0.0450),
    ( -0.1500, 0.0750),
    (0.1000, 0.2000),
    (-0.0400, 0.0500),
    (0.1200, 0.0500)
]

In [91]:
for b,se in values:
    print("{0:8.4f} {1:8.4f} {2:8.4f}".format(b,se,b/se))

  0.1000   0.0450   2.2222
 -0.1500   0.0750  -2.0000
  0.1000   0.2000   0.5000
 -0.0400   0.0500  -0.8000
  0.1200   0.0500   2.4000

> Mean Square – These are the Mean Squares, the Sum of Squares divided by their respective DF.

> F and Sig. – This is the F-statistic the p-value associated with it.  

The F-statistic is the Mean Square (Regression) divided by the Mean Square (Residual)

The p-value is compared to some alpha level in testing the null hypothesis that all of the model coefficients are 0.

$R^{2} = \frac{TSS-SSE}{TSS}$

in SPSS output, TSS = `Total`, SSE = `Residual`

In [92]:
def r2(tss, sse):
    return (tss-sse)/tss

In [93]:
r2(3753.3, 2940.0)

0.21668931340420433

In [94]:
round(r2(3753.3, 2940.0), 4)

0.2167

> Std. Error of the Estimate – This is also referred to as the root mean squared error (Root MSE).

It is the standard deviation of the error term and **the square root of the Mean Square for the Residuals in the ANOVA table**.

In [95]:
import numpy as np

In [96]:
np.sqrt(49)

7.0

# Analysis in R

## How to count the number of NA values in each column of a DataFrame?

if you are looking for NA counts for each column in a dataframe `x` then:

```
na_count <-sapply(x, function(y) sum(length(which(is.na(y)))))
```

should give you a list with the counts for each column.

```
na_count <- data.frame(na_count)
```
Should output the data nicely in a dataframe like:

```
----------------------
| row.names | na_count
------------------------
| column_1  | count
```

[Reference (Stack Overflow)](https://stackoverflow.com/a/31145812)

## Recoding Values

how to apply criteria so that only data in specific rows is replaced. Note that if you want to replace NA with some value you cannot use ==NA. You must use is.na().

```
# Or replace only missing data
# Note that ==NA does not work!
SchoolData$Grade[is.na(SchoolData$Grade)] <- "Missing Grade"
```

[Reference](http://rprogramming.net/recode-data-in-r/)

remove rows with missing values

[Reference (Stack Overflow)](https://stackoverflow.com/questions/4862178/remove-rows-with-nas-missing-values-in-data-frame)